<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create User</title>
</head>
<body>
    <div>
        <form method = "POST" action="/create-new-user">
        <input type="text" name = "firstName" placeholder = "First name...">
        <br>
        <input type="text" name = "lastName" placeholder = "Last name...">
        <br>
        <input type="text" name = "email" placeholder = "Email name">
        <br>
        <input type="password" name = "password" placeholder = "First name...">
        <br>
        <input type="text" name = "address" placeholder = "Address...">
        <br>
        <select name= "roleId">
            <option value="1">Admin</option>
            <option value = "2">Doctors</option>
            <option value="3">Users</option>


        </select>
        <br>
        <button type="submit">Save</button>
    </form>
    </div>

</body>
  